Source: alternc-proxy
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@sonntag.fr>
Build-Depends: debhelper (>= 9),
               devscripts,
               git
Standards-Version: 3.9.8

Package: alternc-proxy
Architecture: all
Depends: apt-utils,
       , debconf
       , alternc (>= 3.5.0~rc1),
Description: Provide proxy templating
Homepage: https://alternc.com/